
.content-node.quote > .content {
  padding: 20px;
  border-left: 10px solid #ccc;
}

.document .content-node.quote .content-node.paragraph {
  padding: 0px 20px 0px 20px;
  /*border-left: 3px solid #ccc; doppelte Ausgabe von Rändern bei Zitaten in Stille, Scholz ... 416/416-69-83162-1-10-20181203.xml*/
}

.surface.content .content-node.quote {

}

.surface.content .content-node.quote > .content {

}


.surface.content .content-node.quote > .content > .label  {
  font-weight: 600;
  padding-bottom: 20px;
}
